// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}